---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52914","strMeal":"Boulang\u00e8re Potatoes","strDrinkAlternate":null,"strCategory":"Side","strArea":"French","strInstructions":"Heat
        oven to 200C\/fan 180C\/gas 6. Fry the onions and thyme sprigs in the oil
        until softened and lightly coloured (about 5 mins).\r\nSpread a layer of potatoes
        over the base of a 1.5-litre oiled gratin dish. Sprinkle over a few onions
        (see picture, above) and continue layering, finishing with a layer of potatoes.
        Pour over the stock and bake for 50-60 mins until the potatoes are cooked
        and the top is golden and crisp.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qywups1511796761.jpg","strTags":"SideDish","strYoutube":"https:\/\/www.youtube.com\/watch?v=gcXPruv1Mjg","strIngredient1":"Onions","strIngredient2":"Thyme","strIngredient3":"Olive
        Oil","strIngredient4":"Potatoes","strIngredient5":"Vegetable Stock","strIngredient6":"","strIngredient7":"","strIngredient8":"","strIngredient9":"","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"2
        finely chopped","strMeasure2":"sprigs of fresh","strMeasure3":"2 tbs","strMeasure4":"1.5kg","strMeasure5":"425g","strMeasure6":"","strMeasure7":"","strMeasure8":"","strMeasure9":"","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/5056\/boulangre-potatoes","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Mon, 28 Feb 2022 16:17:29 GMT
recorded_with: VCR 6.0.0
