---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/randomselection.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"53052","strMeal":"Roti john","strDrinkAlternate":null,"strCategory":"Beef","strArea":"Malaysian","strInstructions":"Mix
        all the ingredients in a bowl.\r\nHeat a pan or griddle with a little vegetable
        oil.\r\nPour the mixture onto the pan and place a piece of open-faced baguette
        on top.\r\nPress on the bread with a spatula and grill for 2 minutes.\r\nTurn
        the bread over to make it a little crispy.\r\nRemove from pan and cut the
        bread into small portions.\r\nAdd mayonnaise and\/or Sambal before cutting
        the sandwich (optional).","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/hx335q1619789561.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=cl4YH8wblRs","strIngredient1":"Minced
        Beef","strIngredient2":"Onion","strIngredient3":"Eggs","strIngredient4":"Chilli","strIngredient5":"Baguette","strIngredient6":"Salt","strIngredient7":"Pepper","strIngredient8":"Mayonnaise","strIngredient9":"","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"1\/4
        lb","strMeasure2":"1","strMeasure3":"3","strMeasure4":"1 tbs","strMeasure5":"1\/2
        ","strMeasure6":"To taste","strMeasure7":"To taste","strMeasure8":"Top","strMeasure9":"
        ","strMeasure10":" ","strMeasure11":" ","strMeasure12":" ","strMeasure13":"
        ","strMeasure14":" ","strMeasure15":" ","strMeasure16":" ","strMeasure17":"
        ","strMeasure18":" ","strMeasure19":" ","strMeasure20":" ","strSource":"https:\/\/www.196flavors.com\/malaysia-roti-john\/","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null},{"idMeal":"52993","strMeal":"Honey
        Balsamic Chicken with Crispy Broccoli & Potatoes","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"American","strInstructions":"2
        Servings\r\n\r\n1. Preheat oven to 425 degrees. Wash and dry all produce.
        Cut potatoes into 1\/2-inch-thick wedges. Toss on one side of a baking sheet
        with a drizzle of oil, salt, and pepper. (For 4 servings, spread potatoes
        out across entire sheet.) Roast on top rack for 5 min[...]
