---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52901","strMeal":"Rock Cakes","strDrinkAlternate":null,"strCategory":"Dessert","strArea":"British","strInstructions":"Preheat
        oven to 180C\/350F\/Gas 4 and line a baking tray with baking parchment.\r\nMix
        the flour, sugar and baking powder in a bowl and rub in the cubed butter until
        the mixture looks like breadcrumbs, then mix in the dried fruit.\r\nIn a clean
        bowl, beat the egg and milk together with the vanilla extract.\r\nAdd the
        egg mixture to the dry ingredients and stir with a spoon until the mixture
        just comes together as a thick, lumpy dough. Add a teaspoon more milk if you
        really need it to make the mixture stick together.\r\nPlace golfball-sized
        spoons of the mixture onto the prepared baking tray. Leave space between them
        as they will flatten and spread out to double their size during baking.\r\nBake
        for 15-20 minutes, until golden-brown. Remove from the oven, allow to cool
        for a couple of minutes then turn them out onto a wire rack to cool.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/tqrrsq1511723764.jpg","strTags":"Baking,Cake","strYoutube":"https:\/\/www.youtube.com\/watch?v=tY3taZO3Aro","strIngredient1":"Self-raising
        Flour","strIngredient2":"Caster Sugar","strIngredient3":"Baking Powder","strIngredient4":"Butter","strIngredient5":"Dried
        Fruit","strIngredient6":"Eggs","strIngredient7":"Milk","strIngredient8":"Vanilla
        Extract","strIngredient9":"","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"225g","strMeasure2":"75g","strMeasure3":"1
        tsp ","strMeasure4":"125g","strMeasure5":"150g","strMeasure6":"1","strMeasure7":"1
        tbs","strMeasure8":"2 tsp","strMeasure9":"","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbc.co.uk\/food\/recipes\/rock_cakes_03094","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Sun, 27 Feb 2022 22:42:15 GMT
recorded_with: VCR 6.0.0
