---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52947","strMeal":"Ma Po Tofu","strDrinkAlternate":null,"strCategory":"Beef","strArea":"Chinese","strInstructions":"Add
        a small pinch of salt and sesame oil to minced beef. Mix well and set aside.\r\nMix
        1 tablespoon of cornstarch with 2 and \u00bd tablespoons of water in a small
        bowl to make water starch.\r\nCut tofu into square cubes (around 2cms). Bring
        a large amount of water to a boil and then add a pinch of salt. Slide the
        tofu in and cook for 1 minute. Move out and drain.\r\nGet a wok and heat up
        around 2 tablespoons of oil, fry the minced meat until cri[...]
