---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"53028","strMeal":"Shawarma","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"Egyptian","strInstructions":"Combine
        the marinade ingredients in a large ziplock bag (or bowl).\r\nAdd the chicken
        and use your hands to make sure each piece is coated. If using a ziplock bag,
        I find it convenient to close the bag then massage the bag to disperse the
        rub all over each chicken piece.\r\nMarinate overnight or up to 24 hours.\r\nCombine
        the Yoghurt Sauce ingredients in a bowl and mix. Cover and put in the fridge
        until required (it will last for 3 days in the fridge).\r\nHeat grill\/BBQ
        (or large heavy based pan on stove) on medium high. You should not need to
        oil it because the marinade has oil in it and also thigh fillets have fat.
        But if you are worried then oil your hotplate\/grill. (See notes for baking)\r\nPlace
        chicken on the grill and cook the first side for 4 to 5 minutes until nicely
        charred, then turn and cook the other side for 3 to 4 minutes (the 2nd side
        takes less time).\r\nRemove chicken from the grill and cover loosely with
        foil. Set aside to rest for 5 minutes.\r\nTO SERVE\r\nSlice chicken and pile
        onto platter alongside flatbreads, Salad and the Yoghurt Sauce.\r\nTo make
        a wrap, get a piece of flatbread and smear with Yoghurt Sauce. Top with a
        bit of lettuce and tomato and Chicken Shawarma. Roll up and enjoy!","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/kcv6hj1598733479.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=3lxUIeKDgic","strIngredient1":"Chicken
        Thighs","strIngredient2":"Coriander","strIngredient3":"Cumin","strIngredient4":"Cardamom","strIngredient5":"Cayenne
        Pepper","strIngredient6":"Paprika","strIngredient7":"Lemon Juice","strIngredient8":"Olive
        Oil","strIngredient9":"Greek Yogurt","strIngredient10":"Garlic Clove","strIngredient11":"Cumin","strIngredient12":"Lemon
        Juice","strIngredient13":"Lettuce","strIngredient14":"Tomato","strIngredient15":"Pita
        Bread","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"1
        kg","strMeasure2":"1 tbs","strMeasure3":"1 tbs","strMeasure4":"1 tbs","strMeasure5":"1
        tsp ","strMeasure6":"2 tsp","strMeasure7":"2 tbs","strMeasure8":"3 tbs","strMeasure9":"1
        cup ","strMeasure10":"1","strMeasure11":"1 tsp ","strMeasure12":"Splash","strMeasure13":"Sliced","strMeasure14":"Sliced","strMeasure15":"6","strMeasure16":"
        ","strMeasure17":" ","strMeasure18":" ","strMeasure19":" ","strMeasure20":"
        ","strSource":"https:\/\/www.recipetineats.com\/chicken-sharwama-middle-eastern\/","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Thu, 03 Mar 2022 20:30:54 GMT
recorded_with: VCR 6.0.0
