---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52939","strMeal":"Callaloo Jamaican Style","strDrinkAlternate":null,"strCategory":"Miscellaneous","strArea":"Jamaican","strInstructions":"Cut
        leaves and soft stems from the kale branches, them soak in a bowl of cold
        water for about 5-10 minutes or until finish with prep.\r\nProceed to slicing
        the onions, mincing the garlic and dicing the tomatoes. Set aside\r\nRemove
        kale from water cut in chunks.\r\nPlace bacon on saucepan and cook until crispy.
        Then add onions, garlic, thyme, stir for about a minute or more\r\nAdd tomatoes;
        scotch bonnet pepper, smoked paprika. Saut\u00e9 for abou[...]
