---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52913","strMeal":"Brie wrapped in prosciutto &
        brioche","strDrinkAlternate":null,"strCategory":"Side","strArea":"French","strInstructions":"Mix
        the flour, 1 tsp salt, caster sugar, yeast, milk and eggs together in a mixer
        using the dough attachment for 5 mins until the dough is smooth. Add the butter
        and mix for a further 4 mins on medium speed. Scrape the dough bowl and mix
        again for 1 min. Place the dough in a container, cover with cling film and
        leave in the fridge for at least 6 hrs before using.\r\nWrap the Brie in the
        prosciutto and set aside. Turn out the dough onto a lightly floured surface.
        Roll into a 25cm circle. Place the wrapped Brie in the middle of the circle
        and fold the edges in neatly. Put the parcel onto a baking tray lined with
        baking parchment and brush with beaten egg. Chill in the fridge for 30 mins,
        then brush again with beaten egg and chill for a further 30 mins. Leave to
        rise for 1 hr at room temperature. Heat oven to 200C\/180C fan\/gas 6, then
        bake for 22 mins. Serve warm.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qqpwsy1511796276.jpg","strTags":"SideDish,Treat,Baking","strYoutube":"https:\/\/www.youtube.com\/watch?v=FzNPPD8lbWg","strIngredient1":"Plain
        Flour","strIngredient2":"Caster Sugar","strIngredient3":"Yeast","strIngredient4":"Milk","strIngredient5":"Eggs","strIngredient6":"Eggs","strIngredient7":"Butter","strIngredient8":"Brie","strIngredient9":"Prosciutto","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"375g","strMeasure2":"50g","strMeasure3":"7g","strMeasure4":"75g","strMeasure5":"3
        Large","strMeasure6":"To Glaze","strMeasure7":"180g","strMeasure8":"250g","strMeasure9":"8
        slices","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/1803634\/brie-wrapped-in-prosciutto-and-brioche","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Wed, 02 Mar 2022 04:17:25 GMT
recorded_with: VCR 6.0.0
