<h1>Welcome, <%= session[:first_name] %>!</h1>

<h3>Your favorites:</h3>
<% @recipes.each do |recipe| %>
  <p><%= image_tag(recipe.image, :size => "130x90") %> <%= link_to "#{recipe.title}", recipe_path(recipe.recipe_id) %></p>
<% end %>
