<div id="slogan">
  <h2>Connecting users to diverse foods and cultures.</h2>
</div>

<div id="instructions">
  <h3>Spin the globe for unique regional recipes or the bottle for random cocktails</h3>
</div>

<img src="https://image.tmdb.org/t/p/w92//6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg">


<div id="spin-the-globe">
  <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Rotating_earth_%28large%29.gif">
  <%= button_to 'Spin for recipes!', '/recipes', method: :get %>
</div>
