---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52972","strMeal":"Tunisian Lamb Soup","strDrinkAlternate":null,"strCategory":"Lamb","strArea":"Tunisian","strInstructions":"Add
        the lamb to a casserole and cook over high heat. When browned, remove from
        the heat and set aside.\r\nKeep a tablespoon of fat in the casserole and discard
        the rest. Reduce to medium heat then add the garlic, onion and spinach and
        cook until the onion is translucent and the spinach wilted or about 5 minutes.\r\nReturn
        the lamb to the casserole with the onion-spinach mixture, add the tomato puree,
        cumin, harissa, chicken, chickpeas, lemon juice, salt and pepper in the pan.
        Simmer over low heat for about 20 minutes.\r\nAdd the pasta and cook for 15
        minutes or until pasta is cooked.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/t8mn9g1560460231.jpg","strTags":"Soup","strYoutube":"https:\/\/www.youtube.com\/watch?v=w1qgTQmLRe4","strIngredient1":"Lamb
        Mince","strIngredient2":"Garlic","strIngredient3":"Onion","strIngredient4":"Spinach","strIngredient5":"Tomato
        Puree","strIngredient6":"Cumin","strIngredient7":"Chicken Stock","strIngredient8":"Harissa
        Spice","strIngredient9":"Chickpeas","strIngredient10":"Lemon Juice","strIngredient11":"Macaroni","strIngredient12":"Salt","strIngredient13":"Pepper","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"500g","strMeasure2":"2
        cloves minced","strMeasure3":"1","strMeasure4":"300g","strMeasure5":"3 tbs","strMeasure6":"1
        tbs","strMeasure7":"1 Litre","strMeasure8":"3 tsp","strMeasure9":"400g","strMeasure10":"1\/2
        ","strMeasure11":"150g","strMeasure12":"Pinch","strMeasure13":"Pinch","strMeasure14":"
        ","strMeasure15":" ","strMeasure16":" ","strMeasure17":" ","strMeasure18":"
        ","strMeasure19":" ","strMeasure20":" ","strSource":"http:\/\/allrecipes.co.uk\/recipe\/16694\/tunisian-lamb-soup.aspx","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Tue, 01 Mar 2022 19:58:33 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Tunisian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Cashew Ghoriba Biscuits","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/t3r3ka1560461972.jpg","idMeal":"52976"},{"strMeal[...]
- request:
    method: post
    uri: http://localhost:3000/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"wade.wade@gmail.com","first_name":"wade","last_name":"wade"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6c1f1bfb3c8f613683317c0156ebd06"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5","type":"user","attributes":{"first_name":"wade","last_name":"wade","email":"wade.wade@gmail.com","likes":[],"dislikes":[]}}}'
  recorded_at: Tue, 01 Mar 2022 19:58:34 GMT
[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Japanese
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Chicken Karaage","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/tyywsw1505930373.jpg","idMeal":"52831"},{"strMeal":"Honey[...]
[...]
- request:
    method: post
    uri: http://localhost:3000/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":null,"first_name":null,"last_name":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4b1a32220be4e719f71b09b14c8446e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":null,"type":"user","attributes":{"first_name":null,"last_name":null,"email":null,"likes":[],"dislikes":[]}}}'
  recorded_at: Tue, 01 Mar 2022 19:58:34 GMT
recorded_with: VCR 6.0.0
