---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52897","strMeal":"Carrot Cake","strDrinkAlternate":null,"strCategory":"Dessert","strArea":"British","strInstructions":"For
        the carrot cake, preheat the oven to 160C\/325F\/Gas 3. Grease and line a
        26cm\/10in springform cake tin.\r\nMix all of the ingredients for the carrot
        cake, except the carrots and walnuts, together in a bowl until well combined.
        Stir in the carrots and walnuts.\r\nSpoon the mixture into the cake tin and
        bake for 1 hour 15 minutes, or until a skewer inserted into the middle comes
        out clean. Remove the cake from the oven and set aside to cool for 10 minutes,
        then carefully remove the cake from the tin and set aside to cool completely
        on a cooling rack.\r\nMeanwhile, for the icing, beat the cream cheese, caster
        sugar and butter together in a bowl until fluffy. Spread the icing over the
        top of the cake with a palette knife.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/vrspxv1511722107.jpg","strTags":"Cake,Treat,Sweet","strYoutube":"https:\/\/www.youtube.com\/watch?v=asjZ7iTrGKA","strIngredient1":"Vegetable
        Oil","strIngredient2":"Plain Flour","strIngredient3":"Bicarbonate Of Soda","strIngredient4":"Sugar","strIngredient5":"Eggs","strIngredient6":"Salt","strIngredient7":"Cinnamon","strIngredient8":"Carrots","strIngredient9":"Walnuts","strIngredient10":"Cream
        Cheese","strIngredient11":"Caster Sugar","strIngredient12":"Butter","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"450ml","strMeasure2":"400g","strMeasure3":"2
        tsp","strMeasure4":"550ml","strMeasure5":"5","strMeasure6":"\u00bd tsp","strMeasure7":"2
        tsp","strMeasure8":"500g grated","strMeasure9":"150g","strMeasure10":"200g","strMeasure11":"150g","strMeasure12":"100g
        ","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbc.co.uk\/food\/recipes\/classic_carrot_cake_08513","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Tue, 01 Mar 2022 22:58:54 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=British
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":" Bubble & Squeak","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/xusqvw1511638311.jpg","idMeal":"52885"},{"strMeal":"Apple[...]
- request:
    method: post
    uri: http://localhost:3000/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"wade.wade@gmail.com","first_name":"wade","last_name":"wade"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"798d75b03701383ef24dde2ba9ca6e8d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13","type":"user","attributes":{"first_name":"wade","last_name":"wade","email":"wade.wade@gmail.com","likes":[],"dislikes":[]}}}'
  recorded_at: Tue, 01 Mar 2022 22:58:54 GMT
[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Spanish
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Roast fennel and aubergine paella","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1520081754.jpg","idMeal":"52942"},{"strMeal":"Seafood
        fideu\u00e0","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wqqvyq1511179730.jpg","idMeal":"52836"},{"strMeal":"Spanish
        Tortilla","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/quuxsx1511476154.jpg","idMeal":"52872"}]}'
  recorded_at: Tue, 01 Mar 2022 22:58:55 GMT
recorded_with: VCR 6.0.0
