---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"53015","strMeal":"Krispy Kreme Donut","strDrinkAlternate":null,"strCategory":"Dessert","strArea":"American","strInstructions":"Dissolve
        yeast in warm water in 2 1\/2-quart bowl. Add milk, sugar, salt, eggs, shortening
        and 2 cups flour. Beat on low for 30 seconds, scraping bowl constantly. Beat
        on medium speed for 2 minutes, scraping bowl occasionally. Stir in remaining
        flour until smooth. Cover and let rise until double, 50-60 minutes. (Dough
        is ready when indentation remains when touched.) Turn dough onto floured surface;
        roll around lightly to coat with flour. Gently roll dough 1\/2-inch thick
        with floured rolling pin. Cut with floured doughnut cutter. Cover and let
        rise until double, 30-40 minutes.\r\nHeat vegetable oil in deep fryer to 350\u00b0.
        Slide doughnuts into hot oil with wide spatula. Turn doughnuts as they rise
        to the surface. Fry until golden brown, about 1 minute on each side. Remove
        carefully from oil (do not prick surface); drain. Dip the doughnuts into creamy
        glaze set on rack.\r\n\r\n\r\nGlaze: \r\nHeat butter until melted. Remove
        from heat. Stir in powdered sugar and vanilla until smooth. Stir in water,
        1 tablespoon at a time, until desired consistency.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/4i5cnx1587672171.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=SamYg6IUGOI","strIngredient1":"Yeast","strIngredient2":"Water","strIngredient3":"Water","strIngredient4":"Sugar","strIngredient5":"Salt","strIngredient6":"Eggs","strIngredient7":"Shortening","strIngredient8":"Flour","strIngredient9":"Canola
        Oil","strIngredient10":"Milk","strIngredient11":"Sugar","strIngredient12":"Vanilla","strIngredient13":"Boiling
        Water","strIngredient14":"Butter","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"1\/4
        ounce","strMeasure2":"1\/4 cup","strMeasure3":"1 1\/2 cups ","strMeasure4":"1\/2
        cup ","strMeasure5":"1 tsp ","strMeasure6":"2","strMeasure7":"1\/3 cup","strMeasure8":"5
        drops","strMeasure9":"Sprinking","strMeasure10":"1\/2 cup","strMeasure11":"2
        cups ","strMeasure12":"1 1\/2 cups ","strMeasure13":"6 tablespoons","strMeasure14":"
        1\/3 cup","strMeasure15":" ","strMeasure16":" ","strMeasure17":" ","strMeasure18":"
        ","strMeasure19":" ","strMeasure20":" ","strSource":"https:\/\/www.mythirtyspot.com\/krispy-kreme-copycat-recipe-for\/","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Wed, 02 Mar 2022 02:07:17 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=American
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Banana Pancakes","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sywswr1511383814.jpg","idMeal":"52855"},{"strMeal":"BBQ
 [...]
- request:
    method: post
    uri: http://localhost:3000/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"wade.wade@gmail.com","first_name":"wade","last_name":"wade"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"798d75b03701383ef24dde2ba9ca6e8d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13","type":"user","attributes":{"first_name":"wade","last_name":"wade","email":"wade.wade@gmail.com","likes":[],"dislikes":[]}}}'
  recorded_at: Wed, 02 Mar 2022 02:07:17 GMT
[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=British
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":" Bubble & Squeak","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/xusqvw1511638311.jpg","idMeal":"52885"},{"strMeal":"Apple[...]
