---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52950","strMeal":"Szechuan Beef","strDrinkAlternate":null,"strCategory":"Beef","strArea":"Chinese","strInstructions":"STEP
        1 - MARINATING THE BEEF\r\nIn a bowl, add the beef, salt, sesame seed oil,
        white pepper, egg white, 2 Tablespoon of corn starch and 1 Tablespoon of oil.\r\nSTEP
        2 - STIR FRY\r\nFirst Cook the beef by adding 2 Tablespoon of oil until the
        beef is golden brown.\r\nSet the beef aside\r\nIn a wok add 1 Tablespoon of
        oil, minced ginger, minced garlic and stir-fry for few seconds.\r\nNext add
        all of the vegetables and then add sherry cooking wine and 1 cup of water.\r\nTo
        make the sauce add oyster sauce, hot pepper sauce, and sugar.\r\nadd the cooked
        beef and 1 spoon of soy sauce\r\nTo thicken the sauce, whisk together 1 Tablespoon
        of cornstarch and 2 Tablespoon of water in a bowl and slowly add to your stir-fry
        until it''s the right thickness.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1529443236.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=SQGZqZYz7Ms","strIngredient1":"Beef","strIngredient2":"Salt","strIngredient3":"Sesame
        Seed Oil","strIngredient4":"Pepper","strIngredient5":"Egg White","strIngredient6":"Starch","strIngredient7":"Oil","strIngredient8":"Ginger","strIngredient9":"Garlic","strIngredient10":"Onion","strIngredient11":"Carrots","strIngredient12":"Green
        Pepper","strIngredient13":"Celery","strIngredient14":"Mushrooms","strIngredient15":"Cooking
        wine","strIngredient16":"Water","strIngredient17":"Oyster Sauce","strIngredient18":"Hotsauce","strIngredient19":"Sugar","strIngredient20":"Soy
        Sauce","strMeasure1":"1\/2 lb","strMeasure2":"1\/2 tsp","strMeasure3":"1 tsp
        ","strMeasure4":"1 pinch","strMeasure5":"1","strMeasure6":"3 tbs","strMeasure7":"4
        tbs","strMeasure8":"1 tsp ","strMeasure9":"1 tsp ","strMeasure10":"3\/4 cup
        ","strMeasure11":"1\/2 cup ","strMeasure12":"3\/4 cup ","strMeasure13":"1
        cup ","strMeasure14":"1 cup ","strMeasure15":"1 tbs","strMeasure16":"1 cup
        ","strMeasure17":"1 tbs","strMeasure18":"1\/2 tsp","strMeasure19":"1 tsp ","strMeasure20":"1
        tbs","strSource":"https:\/\/sueandgambo.com\/pages\/szechuan-beef","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Tue, 01 Mar 2022 14:16:11 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Beef Lo Mein","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1529444830.jpg","idMeal":"52952"},{"strMeal":"Chicken
       [...]
- request:
    method: post
    uri: http://localhost:3000/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"wade.wade@gmail.com","first_name":"wade","last_name":"wade"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"798d75b03701383ef24dde2ba9ca6e8d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13","type":"user","attributes":{"first_name":"wade","last_name":"wade","email":"wade.wade@gmail.com","likes":[],"dislikes":[]}}}'
  recorded_at: Tue, 01 Mar 2022 14:16:11 GMT
[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Chivito uruguayo","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/n7qnkb1630444129.jpg","idMeal":"53063"},{"strMeal":"Cream
        Cheese Tart","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wurrux1468416624.jpg","idMeal":"52779"},{"strMeal":"Potato
        Gratin with Chicken","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qwrtut1468418027.jpg","idMeal":"52780"}]}'
  recorded_at: Tue, 01 Mar 2022 14:16:11 GMT
recorded_with: VCR 6.0.0
