---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52884","strMeal":"Lancashire hotpot","strDrinkAlternate":null,"strCategory":"Lamb","strArea":"British","strInstructions":"Heat
        oven to 160C\/fan 140C\/gas 3. Heat some dripping or butter in a large shallow
        casserole dish, brown the lamb in batches, lift to a plate, then repeat with
        the kidneys.\r\nFry the onions and carrots in the pan with a little more dripping
        until golden. Sprinkle over the flour, allow to cook for a couple of mins,
        shake over the Worcestershire sauce, pour in the stock, then bring to the
        boil. Stir in the meat and bay leaves, then turn off the heat. Arrange the
        sliced potatoes on top of the meat, then drizzle with a little more dripping.
        Cover, then place in the oven for about 1\u00bd hrs until the potatoes are
        cooked.\r\nRemove the lid, brush the potatoes with a little more dripping,
        then turn the oven up to brown the potatoes, or finish under the grill for
        5-8 mins until brown.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/uttrxw1511637813.jpg","strTags":null,"strYoutube":"https:\/\/www.youtube.com\/watch?v=w6TS5J8YRA4","strIngredient1":"Butter","strIngredient2":"Lamb","strIngredient3":"Lamb
        Kidney","strIngredient4":"Onions","strIngredient5":"Carrots","strIngredient6":"Plain
        Flour","strIngredient7":"Worcestershire Sauce","strIngredient8":"Chicken Stock","strIngredient9":"Bay
        Leaves","strIngredient10":"Potatoes","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"100g
        ","strMeasure2":"900g","strMeasure3":"3","strMeasure4":"2 medium","strMeasure5":"4
        sliced","strMeasure6":"25g","strMeasure7":"2 tsp","strMeasure8":"500ml","strMeasure9":"2","strMeasure10":"900g","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/9099\/lancashire-hotpot","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Mon, 28 Feb 2022 18:35:38 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=British
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":" Bubble & Squeak","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/xusqvw1511638311.jpg","idMeal":"52885"},{"strMeal":"Apple[...]
