---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52937","strMeal":"Jerk chicken with rice & peas","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"Jamaican","strInstructions":"To
        make the jerk marinade, combine all the ingredients in a food processor along
        with 1 tsp salt, and blend to a pur\u00e9e. If you\u2019re having trouble
        getting it to blend, just keep turning off the blender, stirring the mixture,
        and trying again. Eventually it will start to blend up \u2013 don\u2019t be
        tempted to add water, as you want a thick paste.\r\n\r\nTaste the jerk mixture
        for seasoning \u2013 it should taste pretty salty, but not unpl[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Jamaican
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Brown Stew Chicken","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sypxpx1515365095.jpg","idMeal":"52940"},{"strMeal":"Callaloo
        Jamaican Style","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/ussyxw1515364536.jpg","idMeal":"52939"},{"strMeal":"Escovitch
        Fish","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1520084413.jpg","idMeal":"52944"},{"strMeal":"Jamaican
        Beef Patties","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wsqqsw1515364068.jpg","idMeal":"52938"},{"strMeal":"Jerk
        chicken with rice & peas","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/tytyxu1515363282.jpg","idMeal":"52937"},{"strMeal":"Oxtail
        with broad beans","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1520083578.jpg","idMeal":"52943"},{"strMeal":"Red
        Peas Soup","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sqpqtp1515365614.jpg","idMeal":"52941"},{"strMeal":"Saltfish
        and Ackee","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/vytypy1511883765.jpg","idMeal":"52936"}]}'
  recorded_at: Thu, 03 Mar 2022 02:40:15 GMT
recorded_with: VCR 6.0.0
