---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52870","strMeal":"Chickpea Fajitas","strDrinkAlternate":null,"strCategory":"Vegetarian","strArea":"Mexican","strInstructions":"Heat
        oven to 200C\/180C fan\/gas 6 and line a baking tray with foil. Drain the
        chickpeas, pat dry and tip onto the prepared baking tray. Add the oil and
        paprika, toss to coat, then roast for 20-25 mins until browned and crisp,
        shaking halfway through cooking.\r\n\r\nMeanwhile, put the tomatoes and onion
        in a small bowl with the vinegar and set aside to pickle. Put the avocado
        in another bowl and mash with a fork, leaving some larger chunks. Stir in
        the lime juice and season well. Mix the soured cream with the harissa and
        set aside until ready to serve.\r\n\r\nHeat a griddle pan until nearly smoking.
        Add the tortillas , one at a time, charring each side until hot with griddle
        lines. \r\n\r\nPut everything on the table and build the fajitas : spread
        a little of the harissa cream over the tortilla, top with roasted chickpeas,
        guacamole, pickled salsa and coriander, if you like. Serve with the lime wedges
        for squeezing over.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/tvtxpq1511464705.jpg","strTags":"Vegetarian","strYoutube":"https:\/\/www.youtube.com\/watch?v=LGY3V7EGpT0","strIngredient1":"Chickpeas","strIngredient2":"Olive
        Oil","strIngredient3":"Paprika","strIngredient4":"Tomatoes","strIngredient5":"Red
        Onions","strIngredient6":"Red Wine Vinegar","strIngredient7":"Avocado","strIngredient8":"Lime","strIngredient9":"Lime","strIngredient10":"Sour
        Cream","strIngredient11":"Harissa Spice","strIngredient12":"Corn Tortillas","strIngredient13":"Coriander","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"400g","strMeasure2":"1
        tblsp ","strMeasure3":"pinch","strMeasure4":"2 small cut chunks","strMeasure5":"1
        finely sliced","strMeasure6":"2 tsp","strMeasure7":"1","strMeasure8":"Juice
        of 1","strMeasure9":"Chopped","strMeasure10":"100g ","strMeasure11":"2 tsp","strMeasure12":"4","strMeasure13":"to
        serve","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/chickpea-fajitas","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Tue, 01 Mar 2022 19:51:35 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Braised Beef Chilli","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/uuqvwu1504629254.jpg","idMeal":"52826"},{"strMeal":"Cajun
        spiced fish tacos","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/uvuyxu1503067369.jpg","idMeal":"52819"},{"strMeal":"Chicken
        Enchilada Casserole","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qtuwxu1468233098.jpg","idMeal":"52765"},{"strMeal":"Chickpea
        Fajitas","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/tvtxpq1511464705.jpg","idMeal":"52870"},{"strMeal":"Crock
        Pot Chicken Baked Tacos","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/ypxvwv1505333929.jpg","idMeal":"52830"}]}'
  recorded_at: Tue, 01 Mar 2022 19:51:35 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/lookup.php?i=52830
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52830","strMeal":"Crock Pot Chicken Baked Tacos","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"Mexican","strInstructions":"Put
    [...]
