---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52872","strMeal":"Spanish Tortilla","strDrinkAlternate":null,"strCategory":"Vegetarian","strArea":"Spanish","strInstructions":"Put
        a large non-stick frying pan on a low heat. Cook the onion slowly in the oil
        and butter until soft but not brown \u2013 this should take about 15 mins.
        Add the potatoes, cover the pan and cook for a further 15-20 mins, stirring
        occasionally to make sure they fry evenly.\r\nWhen the potatoes are soft and
        the onion is shiny, crush 2 garlic cloves and stir in, followed by the beaten
        eggs.\r\nPut the lid back on the pan and leave the tortilla to cook gently.
        After 20 mins, the edges and base should be golden, the top set but the middle
        still a little wobbly. To turn it over, slide it onto a plate and put another
        plate on top, turn the whole thing over and slide it back into the pan to
        finish cooking. Once cooked, transfer to a plate and serve the tortilla warm
        or cold, scattered with the chopped parsley.\r\nTo accompany, take slices
        of warmed baguette, stab all over with a fork and rub with the remaining garlic,
        pile on grated tomatoes and season with sea salt and a drizzle of olive oil.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/quuxsx1511476154.jpg","strTags":"Egg,Light","strYoutube":"https:\/\/www.youtube.com\/watch?v=JceGMNG7rpU","strIngredient1":"Onion","strIngredient2":"Olive
        Oil","strIngredient3":"Butter","strIngredient4":"Potatoes","strIngredient5":"Garlic","strIngredient6":"Eggs","strIngredient7":"Parsley","strIngredient8":"Baguette","strIngredient9":"Vine
        Tomatoes","strIngredient10":"Olive Oil","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"1
        sliced","strMeasure2":"4 tbsp","strMeasure3":"25g","strMeasure4":"400g","strMeasure5":"6
        cloves","strMeasure6":"8","strMeasure7":"Handful","strMeasure8":"1","strMeasure9":"4","strMeasure10":"drizzle","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/spanish-tortilla","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Mon, 28 Feb 2022 19:49:32 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Spanish
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Roast fennel and aubergine paella","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1520081754.jpg","idMeal":"52942"},{"strMeal":"Seafood
        fideu\u00e0","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wqqvyq1511179730.jpg","idMeal":"52836"},{"strMeal":"Spanish
        Tortilla","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/quuxsx1511476154.jpg","idMeal":"52872"}]}'
  recorded_at: Mon, 28 Feb 2022 19:49:32 GMT
recorded_with: VCR 6.0.0
