---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52996","strMeal":"French Onion Chicken with Roasted
        Carrots & Mashed Potatoes","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"American","strInstructions":"1\r\n\r\nPreheat
        oven to 425 degrees. Wash and dry all produce. Trim, peel, and cut carrots
        on a diagonal into \u00bc-inch-thick pieces. Dice potatoes into \u00bd-inch
        pieces. Halve, peel, and thinly slice onion.\r\n\r\n2\r\n\r\nToss carrots
        on a baking sheet with a drizzle of oil, salt, and pepper. Roast until browned
        and tender, 15-20 minutes.\r\n\r\n3\r\n\r\nMeanwhile, place potatoes in a
        medium pot with enough salted water to cover by 2 inches[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=American
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Banana Pancakes","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/sywswr1511383814.jpg","idMeal":"52855"},{"strMeal":"BBQ
        Pork Sloppy Joes","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/atd5sh1583188467.jpg","idMeal":"52995"},{"strMeal":"Beef
        Brisket Pot Roast","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/ursuup1487348423.jpg","idMeal":"52812"},{"strMeal":"Big
        Mac","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/urzj1d158767[...]
