---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52916","strMeal":"Pear Tarte Tatin","strDrinkAlternate":null,"strCategory":"Dessert","strArea":"French","strInstructions":"Core
        the pears, then peel as neatly as possible and halve. If you like, they can
        be prepared up to a day ahead and kept in the fridge, uncovered, so that they
        dry out.\r\nTip the sugar, butter, star anise, cardamom and cinnamon into
        an ovenproof frying pan, about 20cm wide, and place over a high heat until
        bubbling. Shake the pan and stir the buttery sauce until it separates and
        the sugar caramelises to a toffee colour.\r\nLay the pears in the pan[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=French
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Beef Bourguignon","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/vtqxtu1511784197.jpg","idMeal":"52904"},{"strMeal":"Boulang\u00e8re
        Potatoes","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qywups1511796761.jpg","idMeal":"52914"},{"strMeal":"Brie
        wrapped in prosciutto & brioche","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/qqpwsy1511796276.jpg","idMeal":"52913"},{"strMeal":"Chicken
        Basquaise","strMealThumb":"https:\/\/www.themealdb.com\/images[...]
