---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52924","strMeal":"Nanaimo Bars","strDrinkAlternate":null,"strCategory":"Dessert","strArea":"Canadian","strInstructions":"Start
        by making the biscuit base. In a bowl, over a pan of simmering water, melt
        the butter with the sugar and cocoa powder, stirring occasionally until smooth.
        Whisk in the egg for 2 to 3 mins until the mixture has thickened. Remove from
        heat and mix in the biscuit crumbs, coconut and almonds if using, then press
        into the base of a lined 20cm square tin. Chill for 10 mins.\r\nFor the middle
        layer, make the custard icing; whisk together the butter, cream and custard
        powder until light and fluffy, then gradually add the icing sugar until fully
        incorporated. Spread over the bottom layer and chill in the fridge for at
        least 10 mins until the custard is no longer soft.\r\nMelt the chocolate and
        butter together in the microwave, then spread over the chilled bars and put
        back in the fridge. Leave until the chocolate has fully set (about 2 hrs).
        Take the mixture out of the tin and slice into squares to serve.","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/vwuprt1511813703.jpg","strTags":"Treat,Snack,Dairy","strYoutube":"https:\/\/www.youtube.com\/watch?v=MMrE4I1ZtWo","strIngredient1":"Custard","strIngredient2":"Caster
        Sugar","strIngredient3":"Cocoa","strIngredient4":"Egg","strIngredient5":"Digestive
        Biscuits","strIngredient6":"Desiccated Coconut","strIngredient7":"Almonds","strIngredient8":"Butter","strIngredient9":"Double
        Cream","strIngredient10":"Custard Powder","strIngredient11":"Icing Sugar","strIngredient12":"Dark
        Chocolate","strIngredient13":"Butter","strIngredient14":"","strIngredient15":"","strIngredient16":"","strIngredient17":"","strIngredient18":"","strIngredient19":"","strIngredient20":"","strMeasure1":"125g","strMeasure2":"50g","strMeasure3":"5
        tbs","strMeasure4":"1 beaten","strMeasure5":"200g shredded","strMeasure6":"100g
        ","strMeasure7":"50g","strMeasure8":"100g ","strMeasure9":"4 tbs","strMeasure10":"3
        tbs","strMeasure11":"250g","strMeasure12":"150g","strMeasure13":"50g","strMeasure14":"","strMeasure15":"","strMeasure16":"","strMeasure17":"","strMeasure18":"","strMeasure19":"","strMeasure20":"","strSource":"https:\/\/www.bbcgoodfood.com\/recipes\/nanaimo-bars","strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Mon, 28 Feb 2022 16:38:58 GMT
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/filter.php?a=Canadian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"BeaverTails","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/ryppsv1511815505.jpg","idMeal":"52928"},{"strMeal":"Breakfast[...]
