---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17838","strDrink":"Adonis Cocktail","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail glass","strInstructions":"Stir
        all ingredients with ice, strain contents into a cocktail glass, and serve.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten mit Eis verr\u00fchren, Inhalt in ein Cocktailglas abseihen und servieren.","strInstructionsFR":null,"strInstructionsIT":"Mescolare
        tutti gli ingredienti con ghiaccio, filtrare il contenuto in una coppetta
        da cocktail e servire.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xrvruq1472812030.jpg","strIngredient1":"Sweet
        Vermouth","strIngredient2":"Sherry","strIngredient3":"Orange bitters","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"3\/4
        oz ","strMeasure2":"1 1\/2 oz dry ","strMeasure3":"1 dash ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-09-02
        11:27:11"}]}'
  recorded_at: Thu, 03 Mar 2022 02:40:12 GMT
recorded_with: VCR 6.0.0
