---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11476","strDrink":"Highland Fling Cocktail","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail glass","strInstructions":"Stir
        all ingredients (except olive) with ice and strain into a cocktail glass.
        Add the olive and serve.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten (au\u00dfer Oliven) mit Eis verr\u00fchren und in ein Cocktailglas
        abseihen. Die Olive dazugeben und servieren.","strInstructionsFR":null,"strInstructionsIT":"Mescolare
        tutti gli ingredienti (eccetto l''oliva) con ghiaccio e filtrare in una coppetta
        da cocktail.Aggiungere l''oliva e servire.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/0bkwca1492975553.jpg","strIngredient1":"Scotch","strIngredient2":"Sweet
        Vermouth","strIngredient3":"Orange bitters","strIngredient4":"Olive","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        1\/2 oz ","strMeasure2":"3\/4 oz ","strMeasure3":"2 dashes ","strMeasure4":"1
        ","strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-04-23
        20:25:53"}]}'
  recorded_at: Mon, 28 Feb 2022 16:52:32 GMT
recorded_with: VCR 6.0.0
