---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14730","strDrink":"Bubble Gum","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Shot","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Shot
        glass","strInstructions":"Layer in order into a shot glass.","strInstructionsES":null,"strInstructionsDE":"Nacheinander
        in ein Schnapsglas schichten.","strInstructionsFR":null,"strInstructionsIT":"Versare
        a strati nell''ordine di ingrediente","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/spuurv1468878783.jpg","strIngredient1":"Vodka","strIngredient2":"Banana
        liqueur","strIngredient3":"Orange juice","strIngredient4":"Peach schnapps","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/4
        ","strMeasure2":"1\/4 ","strMeasure3":"1\/4 ","strMeasure4":"1\/4 ","strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-07-18
        22:53:03"}]}'
  recorded_at: Thu, 03 Mar 2022 20:30:41 GMT
recorded_with: VCR 6.0.0
