---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17227","strDrink":"Addington","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail
        glass","strInstructions":"Mix both the vermouth''s in a shaker and strain
        into a cold glass. Top up with a squirt of Soda Water. ","strInstructionsES":null,"strInstructionsDE":"Mischen
        Sie beide Wermutarten in einem Shaker und sieben Sie sie in ein kaltes Glas.
        Mit einem Spritzer Sodawasser auff\u00fcllen.","strInstructionsFR":null,"strInstructionsIT":"Rabboccare
        con l''acqua di seltz.Mescolare entrambi i vermut in uno shaker e filtrare
        in un bicchiere freddo.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ib0b7g1504818925.jpg","strIngredient1":"Sweet
        Vermouth","strIngredient2":"Dry Vermouth","strIngredient3":"Soda Water","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        shots ","strMeasure2":"1 shot ","strMeasure3":"Top up with\r\n","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-07
        22:15:25"}]}'
  recorded_at: Wed, 02 Mar 2022 04:17:25 GMT
recorded_with: VCR 6.0.0
