---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v2/9973533/lookup.php?i=52772
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52772","strMeal":"Teriyaki Chicken Casserole","strDrinkAlternate":null,"strCategory":"Chicken","strArea":"Japanese","strInstructions":"Preheat
        oven to 350\u00b0 F. Spray a 9x13-inch baking pan with non-stick spray.\r\nCombine
        soy sauce, \u00bd cup water, brown sugar, ginger and garlic in a small saucepan
        and cover. Bring to a boil over medium heat. Remove lid and cook for one minute
        once boiling.\r\nMeanwhile, stir together the corn starch and 2 tablespoons
        of water in a separate dish until smooth. Once sauce is boiling, add mixture
        to the saucepan and stir to combine. Cook until the sauce starts to thicken
        then remove from heat.\r\nPlace the chicken breasts in the prepared pan. Pour
        one cup of the sauce over top of chicken. Place chicken in oven and bake 35
        minutes or until cooked through. Remove from oven and shred chicken in the
        dish using two forks.\r\n*Meanwhile, steam or cook the vegetables according
        to package directions.\r\nAdd the cooked vegetables and rice to the casserole
        dish with the chicken. Add most of the remaining sauce, reserving a bit to
        drizzle over the top when serving. Gently toss everything together in the
        casserole dish until combined. Return to oven and cook 15 minutes. Remove
        from oven and let stand 5 minutes before serving. Drizzle each serving with
        remaining sauce. Enjoy!","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/wvpsxx1468256321.jpg","strTags":"Meat,Casserole","strYoutube":"https:\/\/www.youtube.com\/watch?v=4aZr5hZXP_s","strIngredient1":"soy
        sauce","strIngredient2":"water","strIngredient3":"brown sugar","strIngredient4":"ground
        ginger","strIngredient5":"minced garlic","strIngredient6":"cornstarch","strIngredient7":"chicken
        breasts","strIngredient8":"stir-fry vegetables","strIngredient9":"brown rice","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strIngredient16":null,"strIngredient17":null,"strIngredient18":null,"strIngredient19":null,"strIngredient20":null,"strMeasure1":"3\/4
        cup","strMeasure2":"1\/2 cup","strMeasure3":"1\/4 cup","strMeasure4":"1\/2
        teaspoon","strMeasure5":"1\/2 teaspoon","strMeasure6":"4 Tablespoons","strMeasure7":"2","strMeasure8":"1
        (12 oz.)","strMeasure9":"3 cups","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","strMeasure16":null,"strMeasure17":null,"strMeasure18":null,"strMeasure19":null,"strMeasure20":null,"strSource":null,"strImageSource":null,"strCreativeCommonsConfirmed":null,"dateModified":null}]}'
  recorded_at: Thu, 03 Mar 2022 02:43:22 GMT
- request:
    method: post
    uri: http://localhost:3000/api/v1/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"wade.wade@gmail.com","first_name":"wade","last_name":"wade"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e51a052406d08e8843544ef8fb13f91c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13","type":"user","attributes":{"first_name":"wade","last_name":"wade","email":"wade.wade@gmail.com","recipe_likes":[52772,52772],"recipe_dislikes":[],"cocktail_likes":[13282,12738,11007,11007,11007,11007],"cocktail_dislikes":[]}}}'
  recorded_at: Thu, 03 Mar 2022 02:43:22 GMT
- request:
    method: get
    uri: http://localhost:3000/api/v1/users?email=wade.wade@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e51a052406d08e8843544ef8fb13f91c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13","type":"user","attributes":{"first_name":"wade","last_name":"wade","email":"wade.wade@gmail.com","recipe_likes":[52772,52772],"recipe_dislikes":[],"cocktail_likes":[13282,12738,11007,11007,11007,11007],"cocktail_dislikes":[]}}}'
  recorded_at: Thu, 03 Mar 2022 02:43:22 GMT
[...]
- request:
    method: post
    uri: http://localhost:3000/api/v1/recipes/dislike
    body:
      encoding: UTF-8
      string: '{"recipe_api_id":"52772","email":"wade.wade@gmail.com","vote":"dislike"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c6b6fa79b8dc99eec40e0093b2efd1e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"20","type":"recipe","attributes":{"recipe_api_id":52772,"sum_likes":2,"sum_dislikes":1}}}'
  recorded_at: Thu, 03 Mar 2022 02:43:23 GMT
[...]
