---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15521","strDrink":"Swedish Coffee","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Coffee
        \/ Tea","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Coffee Mug","strInstructions":"Pour
        the coffee in an ordinary coffee cup. Add the aquavit. Add sugar by taste.
        Stir and have a nice evening (morning)","strInstructionsES":null,"strInstructionsDE":"Gie\u00dfen
        Sie den Kaffee in eine normale Kaffeetasse. F\u00fcge den Aquavit hinzu. Nach
        Belieben Zucker zugeben. R\u00fchren Sie um und genie\u00dfen Sie einen sch\u00f6nen
        Abend.","strInstructionsFR":null,"strInstructionsIT":"Versare il caff\u00e8
        in una normale tazza da cappuccino.\r\nAggiungi l''acquavite.\r\nAggiungere
        lo zucchero a piacere.\r\nMescola e passa una bella serata\/mattina","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ywtrvt1441246783.jpg","strIngredient1":"Coffee","strIngredient2":"Aquavit","strIngredient3":"Sugar","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        cup","strMeasure2":"4 cl ","strMeasure3":"By taste ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2015-09-03
        03:19:43"}]}'
  recorded_at: Wed, 02 Mar 2022 04:17:27 GMT
recorded_with: VCR 6.0.0
