---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17247","strDrink":"The Last Word","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail
        glass","strInstructions":"Shake with ice and strain into a cocktail glass.","strInstructionsES":null,"strInstructionsDE":"Mit
        Eis sch\u00fctteln und in ein Cocktailglas abseihen.","strInstructionsFR":null,"strInstructionsIT":"Shakerare
        con ghiaccio e filtrare in una coppetta da cocktail.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/91oule1513702624.jpg","strIngredient1":"Green
        Chartreuse","strIngredient2":"Maraschino Liqueur","strIngredient3":"Lime Juice","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        oz","strMeasure2":"1 oz","strMeasure3":"1 oz","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-12-19
        16:57:04"}]}'
  recorded_at: Thu, 03 Mar 2022 02:40:19 GMT
recorded_with: VCR 6.0.0
