---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v2/9973533/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17175","strDrink":"Girl From Ipanema","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Wine Glass","strInstructions":"Add
        the cachaca, lemon juice and syrup to your boston glass. Add ice and shake
        until ice cold. Pour into a chilled flute and top-up with Champagne","strInstructionsES":null,"strInstructionsDE":"F\u00fcge
        den Cachaca, Zitronensaft und Sirup in ein Bostonglas ein. Eis dazugeben und
        sch\u00fctteln, bis das Glas eiskalt ist. In eine gek\u00fchlte Glasfl\u00f6te
        f\u00fcllen und mit Champagner auff\u00fcllen.","strInstructionsFR":null,"strInstructionsIT":"Aggiungi
        la cachaca, il succo di limone e lo sciroppo in un mixing glass.\r\nAggiungere
        il ghiaccio e agitare fino a quando non si sar\u00e0 raffreddato.\r\nVersare
        in un bicchiere da vino freddo e rabboccare con champagne","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xypspq1469090633.jpg","strIngredient1":"Cachaca","strIngredient2":"Lemon
        Juice","strIngredient3":"Agave Syrup","strIngredient4":"Champagne","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"25
        ml","strMeasure2":"15 ml","strMeasure3":"10 ml","strMeasure4":"top up with","strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-07-21
        09:43:53"}]}'
  recorded_at: Thu, 03 Mar 2022 20:30:54 GMT
recorded_with: VCR 6.0.0
