<div class="header">
  <h1 style="padding: 0px">Cuisine Odyssey</h1>
  <p>Connecting users to diverse foods and cultures.</p>
  <p class="tabs"><%= link_to 'Home', root_path %></p>
  <p class="tabs"><%= link_to 'Login', '/login' %></p>
  <p class="tabs"><%= link_to 'Register', '/register' %></p>
  <p class="tabs"><%= link_to 'Logout', root_path %></p>
</div>
