<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 300%;color: #FFFFFF; font-family: Monaco">Cuisine Odyssey</a>
      <p style="float:right; font-size: 175%; color: #FFFFFF;">Connecting users to diverse foods and culture.</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
